#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
include /usr/share/quilt/quilt.make


%:
	dh $@ --with quilt

override_dh_auto_build:
	

override_dh_auto_install:
	make install DESTDIR=$(CURDIR)/debian/tmp
	install -p -m 755 builder/kojid.init.debian $(CURDIR)/debian/tmp/etc/init.d/kojid
	mkdir -p $(CURDIR)/debian/tmp/usr/share/kojid/
	install -p -m 755 builder/koji.debootstrap $(CURDIR)/debian/tmp/usr/share/kojid/koji
	install -p -m 755 cli/koji-git-buildpackage $(CURDIR)/debian/tmp/usr/bin/koji-git-buildpackage
	install -p -m 755 cli/koji-scanpackages $(CURDIR)/debian/tmp/usr/bin/koji-scanpackages

.PHONY: patch unpatch
